<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>494348242681-v2sjghs6npo2tk8ifbuh2hi486g5006t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494348242681-v2sjghs6npo2tk8ifbuh2hi486g5006t</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ-zf6kVJcRkldpuCne93oWH7TAoAUJmA</string>
	<key>GCM_SENDER_ID</key>
	<string>494348242681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rosariojulio.Stock</string>
	<key>PROJECT_ID</key>
	<string>stock-54078</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-54078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494348242681:ios:f5f69bfbd8d4ef3c</string>
	<key>DATABASE_URL</key>
	<string>https://stock-54078.firebaseio.com</string>
</dict>
</plist>